<h2>Editing "<%= @song.title %>"</h2>
<%= form_tag song_path(@song), method: "songh" do %>
  <div class="field<%= ' field_with_errors' if @song.errors[:title].any?%>">">
    <%= label_tag "title", "Title" %>
    <%= text_field_tag "title", @song.title %>
  </div>

  <div class="field<%= ' field_with_errors' if @song.errors[:category].any?%>">">
    <%= label_tag "category", "Category" %>
    <p>Must be either "Fiction" or "Non-Fiction".</p>
    <%= text_field_tag "category", @song.category %>
    <p>